.hero__section .swiper-vertical>.swiper-wrapper {
  height: 400px;
}

.hero--section--left .left--bottom,
.hero--section--left .left--top {
  height: 200px;
}

.hero--section--left .left--bottom {
  background-color: red;
}

.hero--section--left .left--top {
  background-color: green;
}

/* 
#hero {
  background-image: url('../../../assets/images/hero4.png');
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  align-items: center;
}

.offer {
  font-size: 20px;
  color: #222;
}

.deal {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

.main-title {
  color: #088178;
  font-size: 50px;
  line-height: 60px;
}

.p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.shop-now {
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
} */