header {
  padding: 20px 0;
}
.top-bar.three {
  background: #09161d;
  position: relative;
  padding: 0;
  border-bottom: 1px solid #eee;
}

.top-bar.three .vector-left img {
  position: absolute;
  bottom: -3px;
  left: -35px;
}

.top-bar.three .vector-left {
  position: absolute;
  width: 70px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #09161d;
  z-index: 9;
}

.top-bar.three .vector-right {
  position: absolute;
  width: 70px;
  height: 100%;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  background-color: #09161d;
  z-index: 9;
}

.top-bar.three .welcome-note {
  padding-left: 100px;
}
.top-bar.three .welcome-note p {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 400;
  color: #09161d;
  padding: 12px 0;
}

.top-bar.three .contact-info {
  padding-right: 100px;
}

.top-bar .contact-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 50px;
}
.top-bar.three .welcome-note p a {
  color: #bf9444;
  font-weight: 500;
  text-decoration: underline;
}
.top-bar.three .contact-info ul li a {
  font-size: 15px;
  font-weight: 400;
  color: #09161d;
  transition: 0.35s;
  text-decoration: none;
}
.top-bar.three .contact-info ul li a i {
  color: #bf9444;
  margin-right: 5px;
  transition: 0.35s;
}

/*  */

.style-3 {
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 0;
}
.style-3 .-logo {
  padding: 10px 0;
}

.style-3 .main-menu {
  display: inline-block;
}

.style-3 .main-menu {
  display: inline-block;
}

.style-3 .main-menu ul > li {
  display: inline-block;
  position: relative;
  /* padding: 0 20px; */
}

.style-3 .main-menu ul > li a {
  font-size: 18px;
  color: #09161d;
  font-weight: 500;
  display: block;
  text-transform: capitalize;
  padding: 0 15px;
  position: relative;
  transition: all 0.5s ease-out 0s;
  position: relative;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}
/* 
.btn-md {
  padding: 10px 25px;
}
.primary-btn6 {
  font-size: 1.125rem;
  font-weight: 100;
  color: white;
  background-color: #bf9444;
  border: 1px solid;
  border-color: #bf9444;
  z-index: 2;
  transition: 0.3s ease all;
  position: relative;
  overflow: hidden;
  text-decoration: none;
} */
/* .style-3 .nav-right .hotline .hotline-icon {
  border: 1px solid;
  border-color: #bf9444;
  background-color: #bf9444;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
} */
.style-3 .nav-right .hotline .hotline-info span {
  font-size: 14px;
  font-weight: 500;
  color: #5e5e5e;
}

/* .style-3 .nav-right .hotline .hotline-info h6 a {
  font-size: 18x;
  color: #5e5e5e;
  transition: 0.35s;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
} */

/*  */

.head--bottom--left {
  width: 25%;
}
.head--bottom--left .header-logo img {
  max-height: 50px;
}
.head--bottom--center {
  width: 50%;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 25px 0;

  text-align: center;
}
.head--bottom--right {
  width: 25%;
}
.head--bottom--right ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.head--bottom--right .right--icon {
  color: #bf9444;
  margin-right: 5px;
  transition: 0.35s;
  font-size: 20px;
}
.head--bottom--right a {
  font-size: 17px;
  font-weight: 500;
  color: #09161d;
  transition: 0.35s;
  text-decoration: none;
  padding-left: 15px;
}

span.cart--qty--icon {
  position: absolute;
  top: -24px;
  right: -12px;
  width: 35px;
  height: 35px;
  background: #bf9444;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 14px;
  color: white;
}

.mobile--burgur--icon {
  display: none;
}
.mobile--burgur--icon i {
  font-size: 25px;
  color: #bf9444;
}
/* ////////////////// */
/* SIDEBAR MENU RESPONSIVE START */
/* ////////////////// */
aside.sidebar--menu--mobile {
  background: white;
  width: 300px;
  padding: 2rem 2rem;
  position: fixed;
  inset: 0;
  z-index: 99999;
  transition: transform 0.3s ease-in;
  transform: translate(-100%);
}

.sidrbar--menu--overlay {
  position: fixed;
  inset: 0;
  background: linear-gradient(rgba(9, 22, 29, 0.9), rgba(9, 22, 29, 0.9));
  z-index: 9999;
  opacity: 0;
  transition: all 0.3s ease-in;
  visibility: hidden;
}

.sidebar--logo img {
  max-height: 30px;
}
.clonse--sidebar--icon {
  text-align: center;
  background: white;
  font-size: 22px;
  padding: 0 1rem;
  color: black;
  cursor: pointer;
  border: 1px solid #bf9444;
}
ul.menu--list--for--mobile {
  padding-top: 20px;
}
.menu--list--for--mobile li a {
  padding: 10px 0;
  display: block;
  font-weight: 500;
  font-size: 1.125rem;
  color: #09161d;
}
.menu--list--for--mobile li a.active {
  color: #bf9444;
}
/* ////////////////////////// */
/* RESPONSIVE START HERE */
@media screen and (max-width: 1430px) {
  /* .style-3 {
    padding: 0 30px;
  } */
  .hotline-call {
    display: none !important;
  }
  .head--bottom--right .nav-right {
    justify-content: flex-end !important;
  }
  .head--bottom--left,
  .head--bottom--right {
    width: 20%;
  }
  .head--bottom--center {
    width: 60%;
  }
  .top-bar.three .contact-info {
    padding-right: 60px;
  }
  .top-bar.three .welcome-note {
    padding-left: 62px;
  }
  .head--bottom--left {
    width: 20%;
  }
  .head--bottom--right {
    width: 30%;
  }
  .head--bottom--center {
    width: 50%;
  }
}
@media screen and (max-width: 1200px) {
  .head--bottom--left .header-logo img {
    max-height: 27px;
  }
  .top-bar.three .vector-right,
  .top-bar.three .vector-left {
    display: none;
  }
  .top-bar.three .welcome-note {
    padding-left: 0;
  }
  .top-bar.three .contact-info {
    padding-right: 0;
  }
  .top-bar.three {
    background-color: white;
  }
  /* .head--bottom--right a {
    font-size: 15px;
  } */
  .head--bottom--right .right--icon {
    font-size: 16px;
  }
  .style-3 .main-menu ul > li a {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .head--bottom--center {
    display: none;
  }
  .mobile--burgur--icon {
    display: block;
    padding-left: 40px;
  }
  .head--bottom--right,
  .head--bottom--left {
    width: 50%;
  }
  /* header {
    background-color: white;
  } */
  section.header-area {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  header {
    padding: 0 0;
  }
}
@media screen and (max-width: 992px) {
  header .top-bar {
    padding: 10px 0 !important;
  }
}
@media screen and (max-width: 768px) {
  .head--bottom--left {
    width: 30%;
  }
  .head--bottom--right {
    width: 70%;
  }
}
@media screen and (max-width: 575px) {
  .top-bar.three .welcome-note p {
    text-align: center;
  }
  .top-bar.three .welcome-note p a {
    display: block;
  }
  .head--bottom--left .header-logo img {
    max-height: 20px;
  }
  .head--bottom--right span.right--text {
    display: none;
  }
  .head--bottom--right .right--icon {
    font-size: 22px;
  }
  span.cart--qty--icon {
    right: -27px;
  }
}
