/*  header */

header .container-xxl.top--header {
  background: var(--white-color);
  border-radius: 50px;
  padding: 10px 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.top--left {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.top--left img {
  max-height: 60px;
}
.top--left h3.logo--title {
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 7px 0 0 14px;
  color: var(--red-color);
}
.top--center {
  width: 100%;
  max-width: 90%;
  position: relative;
}

.top--center .input-search {
  padding: 10px 1rem;
  outline: none;
  width: 100%;
  border: 1px solid var(--black-color);
  border-radius: 50px;
  color: #141640b3;
  font-family: "Fira Sans", sans-serif;
}
.top--center .input-search::placeholder {
  font-size: 14px;
  color: #141640b3;

  font-family: "Fira Sans", sans-serif;
}
.top--center .search--btn {
  position: absolute;
  right: 0;
  padding: 0 30px;
  background: var(--black-color);
  height: 100%;
  border: none;
  border: 1px solid var(--black-color);
  border-radius: 50px;
  border-start-start-radius: 0;
  border-end-start-radius: 0;
  color: var(--white-color);
}

.nav--right a i {
  font-size: 24px;
  line-height: 24px;
}
.nav--right a {
  font-size: 17px;
  color: var(--blue-color);
  line-height: 1;
  padding: 0 10px;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  position: relative;
}
.nav--right a.active {
  color: var(--green-color);
  position: relative;
}

.nav--right a.active::before,
.nav--right a:hover::before {
  width: 100%;
  content: "";
  height: 2px;
  background: var(--green-color);
  display: inline;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  margin: auto;
}
.nav--right a:hover::before {
  width: 90%;
}

.nav--right a:hover {
  color: var(--green-color);
}
.nav--right .nav--right a.active.cart::before {
  right: -10px;
}
.nav--right a.cart.active::before {
  right: -10px;
}
.nav--right li:last-child a {
  padding-right: 0;
}
.nav--right a span {
  padding-left: 10px;
}

.cart {
  position: relative;
}

span.qty--header {
  padding: 0 !important;
  width: 30px;
  height: 30px;
  background: var(--green-color);
  color: var(--white-color);
  position: absolute;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -25px;
  left: 25px;
  font-size: 14px;
}

/*  HEADER TOP END */

.bottom--header {
  /* background-color: var(--blue-color); */
  background-color: var(--orange-color);
  padding: 0px 0;
}
.main--nav ul {
  display: flex;
}

.main--nav ul a {
  font-size: 15px;
  display: inline-block;
  margin-right: 20px;
  padding: 15px 1rem;
  text-decoration: none;
  /* border: 1px double rgba(229, 229, 229, 0.187); */
  /* border: 1px solid var(--white-color); */
  background-color: transparent;
  font-family: "Fira Sans", sans-serif;
  text-transform: capitalize;
  color: var(--black-color);
  letter-spacing: 0.7px;
  border-radius: 25px;
}
.main--nav ul a:hover {
  color: var(--green-color);
}
.main--nav ul a.active {
  color: var(--white-color);
}
.show--categories {
  background: black;
  height: 100%;
  color: white;
  text-align: center;
  margin: auto;
}

.show--categories a {
  font-size: 15px;
  display: inline-block;
  padding: 15px 1rem;
  text-decoration: none;
  background-color: transparent;
  font-family: "Fira Sans", sans-serif;
  text-transform: capitalize;
  color: var(--blue-color);
  letter-spacing: 0.7px;
  border-radius: 25px;
  cursor: pointer;
}
