* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  background-image: linear-gradient(90.28deg, #000000 0.23%, #09161d 100.33%);
}

/* font-family: 'Fira Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Rubik', sans-serif;
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.global-width {
  padding: 0 6%;
}

/*  GLOBAL BUTTON  */

.discover-btn {
  background: linear-gradient(to right, #ffc3a0, #ef8b9c);
  transition: all 0.5s ease-out;
  font-family: "Roboto", sans-serif;
  border: none;
  padding: 0.8rem 4rem;
  color: black;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 1px;
  max-width: fit-content;
  border-radius: 0.2rem;
}
.discover-btn:hover {
  background: linear-gradient(to right, #ef8b9c, #ffc3a0);
}

@media screen and (max-width: 1400px) {
  .global-width {
    padding: 0 50px;
  }
}
@media screen and (max-width: 1200px) {
  .global-width {
    padding: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .global-width {
    padding: 0 20px;
  }
}
@media screen and (max-width: 575px) {
  .global-width {
    padding: 0 12px;
  }
}
